<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Conteudo do Home</ion-label>
  <ion-icon name="logo-ionic" size="large" color="primary" size="large"></ion-icon>
  <ion-icon name="finger-print-outline" size="large" color="primary" size="large"></ion-icon>
</ion-content>

<ion-footer>
    <ion-toolbar color="danger">
      <ion-title>Rodapé</ion-title>
    </ion-toolbar>
</ion-footer>
