<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let e of elenco">
    <ion-item>
      <ion-label>{{e.nome}}</ion-label>
      <ion-avatar slot="start">
      <ion-img src="{{e.avatar}}"></ion-img>
    </ion-avatar>
    <ion-badge slot="end" color="danger">{{e.curtidas}}</ion-badge>
  </ion-item>

   <!--  <ion-item>
      <ion-label>{{nomeAtor2}}</ion-label>
      <ion-avatar>
        <ion-img [src]="avatarAtor2"></ion-img>
      </ion-avatar>
    </ion-item>   -->

  </ion-list> 
  <br><br>

  <ion-card>
    <ion-img src="{{avatarCard}}" alt="Dona Chica"></ion-img>
      <ion-card-header>
        <ion-card-title>"{{nomeCard}}"</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae impedit, accusamus
           voluptates unde ut id vitae rerum cupiditate animi nesciunt et delectus dicta quam fugit nam quos obcaecati mollitia cumque.
      </ion-card-content>
    
</ion-card>

  
  
</ion-content>
